* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1
}
/*IMPORTACIÓN DE FUENTE PERSONALIZADA*/
@font-face  {font-family: 'Eleven'; src: url(../fonts/ElevenFit-Regular.ttf);}
@font-face  {font-family: 'ElevenItalic'; src: url(../fonts/ElevenFit-Italic.ttf);}
@font-face  {font-family: 'ElevenOutline'; src: url(../fonts/ElevenFit-Outline.ttf);}
@font-face  {font-family: 'ElevenItOutline'; src: url(../fonts/ElevenFit-ItalicOutline.ttf);}
/*!! CABECERA !!*/

/*【 Menú 】*/
nav {
	overflow: hidden;/*#096ac1*/
	background: #000;
	background-image: url("https://arielguerrero.ml/img/fondo_menu2.jpg");
	padding: .8em; 
	padding-left: 12em;
	padding-right: 12em;
	border-bottom: 5px solid #F80303;
}
#landing nav {
	background: none;
	border: none;
}

#logo {
	float: left;
	transition: all 0.5s;
}
#logo:hover {
	transform: scale(1.02)
}

#menu {
	float: right;
	margin-top: 2.5em;
}

#logo img {
	width: 170px;
	display: block;
}

#menu ul li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
}
#menu ul li a span {
	color: #f72a2a;
}
#menu ul li a:hover {
	color: #f72a2a;
	font-style: italic;
	font-weight: 800;
	transform: scale(1.02);
}
#menu ul li a:active {
	color: #F80303;
}

#menu {
	text-align: center;
}
#menu ul {
	list-style-type: none;
	text-align: center;
}
#menu ul li {
	display: inline;
	padding: 0.5em;
}
/*Cabecera*/
#landing {	
	background-image: url("../img/fondo_landing.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#cabecera {
	padding-top: 350px;
	padding-bottom: 550px;
	font-family: 'Eleven';
	letter-spacing: 7px;
	color: #ffffff;
	font-size: 150%;
}
#cabecera span {
	font-style: italic;
}

/*Cabecera general*/
.cabecera-general {
	
}

/*!! MAIN !!*/
main {
	
}

/*^Main Nosotros Page^*/
#historia {
	overflow: hidden;
	padding: 5em;
	padding-left: 7em;
	padding-right: 7em;
	font-family: 'Montserrat', sans-serif;
}
#historia h2 {
	font-family: 'Eleven';
	font-size: 2em;
	margin-bottom: 1em;
}

#imagen-historia {
	float: left;
	width: 45%;
}
#imagen-historia img {
	border-radius: 100px;
}
#texto-historia {
	float: left;
	width: 55%;
	padding-left: 3em;
	padding-top: 5em;
}
/* TARJETAS DE PLANTILLA */
#plantilla {
	padding: 5em;
	padding-left: 7em;
	padding-right: 7em;
	overflow: hidden;
}
#plantilla h2 {
	font-family: 'Eleven';
	font-size: 2em;
}
.mi-plantilla {
	width: 33.3333333333%;
	float: left;
	padding: 2em;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

.container-plant {
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	text-align: center;
	min-height: 400px;
	transition: all 0.25s;
	letter-spacing: 0.03em;
	line-height: 1.6;
	background-color: rgb(249, 249, 249);
	padding-bottom: 1em;
}

.container-plant:hover {
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-plant img {
	width: 100%;
	margin-bottom: 1em;
}

.container-plant h3 {
	font-size: 1.5em;
}

.container-plant h5 {
	color: rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	margin-bottom: 0.7em;
}
/*^Main Catálogo Page^*/
.fila-cat {
	width: 100%;
	margin-top: 5em;
	margin-bottom: 2em;
	padding-left: 3em;
	padding-right: 3em;
	overflow: hidden;
	font-family: 'ElevenItalic';
}
.fila-cat div {
	overflow: hidden;
	text-align: center;
}
.fila-cat img {
	transition: all 0.5s;
	transform: scale(1)
}
.fila-cat img:hover {
	transform: scale(1.05)
}

.producto {
	float: left;
	width: 25%;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 1em;
	padding-top: 1em;
}
.producto a {
	text-decoration: none;
	color: black;
}

.producto h4 {
	margin-bottom: .3em;
}
.producto h4, p {
	padding-left: 1em;
	padding-right: 1em;
}
.container-prod {
	min-height: 350px;
}

.logoMarca {
	margin-bottom: 3em;
}

.precio {
	border: 0;
	cursor: pointer;
	position: relative;
	margin-top: 1em;
	background: transparent;
}
.precio div {
	background-color: rgb(175, 30, 15);
	padding: 0.6rem 3rem;
	position: relative;
	overflow: hidden;
	border-radius: 25px;
	transition: all 0.5s;
}
.precio a {
	position: relative;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	z-index: 2;
	
}
.precio div:hover {
	transform: translateY(-8px);
	background-color: #ffffff;
	border: 2px solid rgb(175, 30, 15);
	color: rgb(175, 30, 15);
	box-shadow: 0px 3px 1px 2px rgba(0,0,0,0.1);
}
.precio div:hover a {
	color: rgb(175, 30, 15);
}

/*!! FOOTER !!*/
footer {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	padding: 50px 0px 50px 0px;
	background: #fff;
	border-top: 5px solid #F80303;
}
footer h2 {
	font-family: 'Eleven';
	letter-spacing: 3px;
}
/*Columna 1 de Footer*/
#col1Footer {
	width: 33.333333333%;
	float: left;
	/*Sintaxis padding = top right bottom left*/
	padding: 0px 30px 0px 100px;
}
#col1Footer h2, p {
	text-align: center;
}
#col1Footer p span {
	font-weight: 600;
	color: #bb0202;
}
/*Columna 2 de Footer*/
#col2Footer {
	width: 33.333333333%;
	float: left;
	padding: 0px 30px 0px 25px;
}
#col2Footer h2, div {
	text-align: center;
}
/*Iconos redes sociales*/
.margin-right-8x100 {
	margin-right: 8%;
}
.rrss {
	transition: all 0.25s;
}
.rrss:hover {
	transform: translateY(-8px);
}
/*Columna 3 de Footer*/
#col3Footer {
	width: 33.333333333%;
	float: left;
	padding: 0px 100px 0px 30px;
}
#col3Footer h2, p {
	text-align: center;
}
#col3Footer p {
	margin-bottom: 20px;
}
#col3Footer ul li{
	list-style-type: none;
}
#col3Footer ul li h5 {
	font-weight: 800;
	font-size: 1.05em;
	margin-bottom: 5px;
}
/*Barra divisoria footer*/
.barra-divisoria-footer {
	width: 100%;
	margin: 20px 0px 20px 0px;
	background: #F80303;
	border: 2px solid #F80303;
	border-radius: 50px;
}